@import './partials/utilities';

body {
    padding: 1rem;
    background-color: $cream;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: $white;
    border: 1px solid $cream;

    max-width: 375px;
    padding-bottom: .3rem;
    .image {
        width: 100%;
        
        #mobile-product-image {
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
            display: block;
            width: 100%;
        }

        #desktop-product-image {
            display: none;
            width: 100%;
        }
    }
}

.content {
    padding: 1.5rem 1.5rem;

    #category-label {
        font-family: 'Montserrat', sans-serif;
        color: $darkGrayishBlue;
        letter-spacing: .4rem;
        font-size: .78rem;
        
    }

    #product-label {
        font-family: 'Fraunces', serif;
        padding: 0;
        margin-top: .6rem;
    }

    #product-description {
        font-family: 'Montserrat', sans-serif;
        font-size: $bodyCopy;
        color: $darkGrayishBlue;
        line-height: 1.5rem;
        margin-top: -.5rem;
    }
}

.price-description {

    display: flex;
    align-items: center;
    gap: 1rem;

    :first-child {
        font-size: 2rem;
        font-family: 'Fraunces', serif;
        color: $darkCyan;
    }

    :nth-child(2) {
        text-decoration-line: line-through;
        color: $darkGrayishBlue;
        font-size: $bodyCopy;
        font-weight: 700;
    }
}

.btn-add-to-cart {
    position: relative;
    display: flex;
    justify-content: center;
    gap: .7rem;
    width: 100%;
    padding: .99rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    margin-top: 1rem;
    background-color: $darkCyan;
    cursor: pointer;
    span {
        color: $white;
        font-size: .9rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }
    transition: all 300ms;
}

.btn-add-to-cart:hover {
    background-color: $active;
}

.attribution {
    margin-top: 1rem;

    font-size: 1rem;
}

@media only screen and (min-width: 1440px) {

    .card {

        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 36.365rem;
        padding-bottom: 0;
        padding: 0;
        .image {
            #mobile-product-image {
                display: none;
            }

            #desktop-product-image {
                display: block;
                height: 100%;
                border-bottom-left-radius: .5rem;
                border-top-left-radius: .5rem;
            }
        }
    }

    .content {
        padding: 2rem;

        #product-label {
            margin: 1rem 0;
        }

        #product-description {
            margin-top: 1rem;
        }
    }

    .price-description {
        padding: .5rem 0;
    }
}